 $green-color: #5cbe3a;
 $black-color: #051101;
 $white-color: #ffffff;
 $green-background: #ebffe4;
 $white-background: #e5e5e5;

* {
  box-sizing: border-box;

  body {
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;


    h1, h2, h3 {
      font-weight: 700;
    }

    @mixin cont {
      padding-right: 227px;
      padding-left: 227px;
    }


    button {
      text-transform: uppercase;
      border: 1px solid lighten($green-color, 30%);
      padding: 15px 30px;
      border-radius: 4px;
      background: transparent;
      font-weight: 500;
      display: block;
    }

    #header {
      background: $green-background;
      position: relative;

      .lines {
        position: absolute;
        top: 0;
        right: 0;
        width: 800px;
      }

      .nav {
        @include cont;
        padding-bottom: 118px;
        padding-top: 57px;

        .menu {
          ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-between;
            padding-top: 10px;

            a {
              color: $black-color;
              opacity: 60%;
              text-decoration: none;
            }

            .activ {
              color: $black-color;
              opacity: 1;
            }
          }
        }

        .btn {
          padding: 0;
          button {
            background: $green-color;
            a {
              color: $white-color;
            }
          }
        }
      }

      .showcase {
        @include cont;

        .container-fluid {
          .row {
            .showcase-cont {
              .showcase-slogan {
                p {
                  text-transform: uppercase;
                  color: $green-color;
                  font-weight: 600;
                  font-size: 22px;
                  line-height: 140%;


                  img {
                    width: 50.18px;
                    height: 17.25px;
                    margin-left: 15.58px;
                    margin-bottom: 3px;

                  }
                }
              }

              h1 {
                font-size: 61px;
                line-height: 120%;
              }
              .showcase-text {
                p {
                  opacity: 70%;

                  .green {
                    color: $green-color;
                    opacity: 70%;
                    text-decoration: none;
                  }
                  .green:hover {
                    opacity: 1;
                  }
                }
              }


              .showcase-price {
                display: flex;
                flex-direction: row;
                color: $green-color;
                font-weight: 700;
                font-size: 31px;
                line-height: 130%;

                p {
                  padding-right: 1rem;
                }

                p:last-of-type {
                  text-decoration-line: line-through;
                  opacity: 40%;
                  font-size: 25px;
                }
              }

              .buttons {
                display: flex;
                flex-direction: row;
                margin-top: 37px;

                button:first-of-type {
                  background: $green-color;

                  margin-right: 30px;
                  a {
                    color: $white-color;
                  }
                }

                button:last-of-type {
                  a {
                    color: $green-color;
                  }

                }
              }

              .showcase-feedback {
                display: flex;
                flex-direction: row;
                margin-top: 85px;

                a {
                  font-weight: 700;
                  font-size: 85px;
                  line-height: 120%;
                  color: $green-color;
                  margin-right: 68px;
                }

                p {
                  text-transform: uppercase;
                  padding-bottom: 77px;
                }
              }
            }

            .col-md-7 {
              position: static;
              .showcase-img {
                position: absolute;
                top: 0;
                padding-top: 167px;
                right: 0;
                padding-right: 112px;

                 .showcase-img-cont {
                   position: relative;
                   .star {
                     position: absolute;
                     top: 101px;
                     left: 56px;
                     height: 176px;
                     width: 176px;
                     text-align: center;
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     color: $white-color;
                     font-weight: 600;
                     font-size: 37px;
                     line-height: 150%;
                     background: url('/nike/img/star.png') no-repeat;
                     p {
                       margin-bottom: 0;

                     }
                   }
                   .products {
                     margin-right: 0;
                     margin-left: auto;
                     display: flex;
                     justify-content: right;
                     img {
                       width: 115px;
                       margin-right: 35px;
                       border: solid 1px #bee761;
                       border-radius: 50%;

                     }
                   }
                 }
              }
            }
          }
        }
      }
    }
  }
}

