 $green-color: #5cbe3a;
 $black-color: #051101;
 $white-color: #ffffff;
 $green-background: #ebffe4;
 $white-background: #ffffff;

* {
  box-sizing: border-box;

  body {
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;


    h1, h2, h3 {
      font-weight: 700;
    }

    @mixin cont {
      padding-right: 227px;
      padding-left: 227px;
    }


   .btn {
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid lighten($green-color, 30%);
      padding: 15px 30px;
      border-radius: 4px;
      background: transparent;
      font-weight: 500;
    }
    .btn:hover {
      a {
        text-decoration: none;
      }
    }

    #header {
      background: $green-background;
      position: relative;
      height: 80vh;

      .lines {
        position: absolute;
        top: 0;
        right: 0;
        width: 50rem;
      }

      .nav {
        @include cont;
        padding-bottom: 118px;
        padding-top: 57px;

        .menu {
          ul {
            display: flex;
            flex-direction: row;
            list-style: none;
            justify-content: space-between;
            padding-top: 10px;

            a {
              color: $black-color;
              opacity: 60%;
              text-decoration: none;
            }

            .activ {
              color: $black-color;
              opacity: 1;
            }
          }
        }

        .btn {
          background: $green-color;
            a {
              color: $white-color;
            }

        }
      }

      .showcase {
        @include cont;

        .container-fluid {
          .row {
            .showcase-cont {
              .showcase-slogan {
                p {
                  text-transform: uppercase;
                  color: $green-color;
                  font-weight: 600;
                  font-size: 22px;
                  line-height: 140%;


                  img {
                    width: 3rem;
                    height: 1.1rem;
                    margin-left: 15.58px;
                    margin-bottom: 3px;

                  }
                }
              }

              h1 {
                font-size: 61px;
                line-height: 120%;
              }

              .showcase-text {
                p {
                  opacity: 70%;

                  .green {
                    color: $green-color;
                    opacity: 70%;
                    text-decoration: none;
                  }

                  .green:hover {
                    opacity: 1;
                  }
                }
              }


              .showcase-price {
                display: flex;
                flex-direction: row;
                color: $green-color;
                font-weight: 700;
                font-size: 31px;
                line-height: 130%;

                p {
                  padding-right: 1rem;
                }

                p:last-of-type {
                  text-decoration-line: line-through;
                  opacity: 40%;
                  font-size: 25px;
                }
              }

              .buttons {
                display: flex;
                flex-direction: row;
                margin-top: 37px;

                .btn:first-of-type {
                  background: $green-color;
                  margin-right: 30px;
                  a {
                    color: $white-color;
                  }
                }
                .btn:last-of-type {
                  a {
                    color: $green-color;
                  }
                }
              }

              .showcase-feedback {
                display: flex;
                flex-direction: row;
                margin-top: 85px;

                a {
                  font-weight: 700;
                  font-size: 85px;
                  line-height: 120%;
                  color: $green-color;
                  margin-right: 68px;
                }

                p {
                  text-transform: uppercase;
                  padding-bottom: 4.8rem;
                }
              }
            }

            .col-md-7 {
              position: static;

              .showcase-img {
                position: absolute;
                top: 0;
                padding-top: 10.5rem;
                right: 0;
                padding-right: 7rem;

                .showcase-img-cont {
                  position: relative;

                  .star {
                    position: absolute;
                    top: 101px;
                    left: 56px;
                    height: 11rem;
                    width: 11rem;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $white-color;
                    font-weight: 600;
                    font-size: 37px;
                    line-height: 150%;
                    background: url('/nike/img/star.png') no-repeat;

                    p {
                      margin-bottom: 0;
                    }
                  }

                  .products {
                    margin-right: 0;
                    margin-left: auto;
                    display: flex;
                    justify-content: right;

                    img {
                      width: 7.2rem;
                      margin-right: 2.2rem;
                      border: solid 1px #bee761;
                      border-radius: 50%;

                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    #main {
      background: $white-background;

      .main-container {
        .latest-products {
          padding-top: 118px;
          padding-bottom: 118px;

          .latest-products__text {
            text-align: center;
            max-width: 469px;
            margin: 0 auto;

            p {
              opacity: 70%;
            }
          }

          .latest-products__slider {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: center;

            .slider {
              .product-slider__img {
                border-radius: 50%;
                background: linear-gradient(360deg, #5CBE3A -33.55%,
                        rgba(92, 190, 58, 0.0860215) 4.82%, rgba(92, 190, 58, 0) 37.59%);
                width: 362px;
                height: 362px;
                margin-bottom: 19px;

                img {
                  display: flex;
                  margin: 0 auto;
                  padding-top: 170px;
                }
              }
              .product-slider__stars{

              }
                .price {
                  font-weight: bold;
                  margin-top: 3rem;
                }

                .btn {
                  a {
                    color: $green-color;
                  }
                }
              }



            }
          }
        }



      }
    }
  }



